.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .searchBox{
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    width: 100%;
    font-size: 0.7rem;
    background: white;
    box-shadow: 0px 0px 5px #22222238, 5px 5px 5px #22222223;
    border: none;
    border-radius: 0.2rem;
    outline: none;
  }
  
  .searchButton{
    margin: 1rem 0rem 1rem 1rem;
    padding: 1rem 2rem;
    background: black;
    border-radius: 0.2rem;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .searchButton:hover{
    background: #555555;
    color: whitesmoke;
  }